################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/Demo/.vs/Demo/v16
/Demo/Demo/obj/Debug
